.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;

    b {
        display: inline-block;
        left: 0;
        position: absolute;
        top: 0;
        white-space: nowrap;

        &.is-visible {
            position: relative;
        }
    }
}

.no-js .cd-words-wrapper b {
    opacity: 0;

    &.is-visible {
        opacity: 1;
    }
}

// xtype

.cd-headline.type .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;

    &.waiting::after {
        animation: cd-pulse 1s infinite;
    }

    &.selected {
        background-color: $tw-line;

        b {
            color: $tw-grey;
        }

        &::after {
            visibility: hidden;
        }
    }
}

.cd-headline.type .cd-words-wrapper::after {
    // vertical bar
    background-color: $tw-line;
    bottom: auto;
    content: '';
    height: 90%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

.cd-headline.type b {
    visibility: hidden;

    &.is-visible {
        visibility: visible;
    }
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;

    &.in {
        position: relative;
        visibility: visible;
    }
}


@keyframes cd-pulse {
    0% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }

    40% {
        opacity: 0;
        transform: translateY(-50%) scale(.9);
    }

    100% {
        opacity: 0;
        transform: translateY(-50%) scale(0);
    }
}
