html,
body {
    color: $dark-grey;
    font-family: 'Lato', Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.full-width { width: 100%; }
