.logo{
    position: fixed;
    width: 40px;
    height: 40px;
    margin: 15px;
    cursor: pointer;
}

.category{
    text-align: center;
    padding-top: 80px;

    // iPhone
    @media only screen and (max-width:640px){ 
        padding-top: 65px;
    }

    h3{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 60px;
        text-align: left;

        // iPhone
        @media only screen and (max-width:640px){
            padding: 0 20px; 
            font-size: 24px;
        }
    }
}

.project{
    h1{
        font-weight: bold;
        margin: 80px 0 50px;
    }

    h4{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        margin-top: 23px;
    }

    p{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        line-height: 40px;

        &.links{
            font-family: 'Lato', sans-serif;
            font-weight: bold;
        }
    }
}