.project, .about{
    a{
        color: $grey;
    }
    .btn-default{
        background-color: transparent;
        border-color: $red;
        color: $red;
        transition: .2s all;

        &:hover{
            background-color: $red;
            color: white;
        }
    }

    h1{
        font-weight: bold;
        margin: 80px 0 50px;
    }

    h4{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        margin-top: 23px;
    }

    p{
        font-family: 'Merriweather', serif;
        font-size: 18px;
        line-height: 40px;

        a{
            color: $red;
            font-weight: bold;
            
            &:hover{
                text-decoration: none;
            }
        }

        &.links{
            font-family: 'Lato', sans-serif;
            font-weight: bold;
        }
    }

    .carousel-indicators{
        bottom: -50px !important;

        .active{
            background-color: $grey;
        }

        li{
            border: 1px solid $grey;
        }
    }
}