html,
body {
  color: #202020;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.full-width {
  width: 100%; }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }
  .cd-words-wrapper b {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap; }
    .cd-words-wrapper b.is-visible {
      position: relative; }

.no-js .cd-words-wrapper b {
  opacity: 0; }
  .no-js .cd-words-wrapper b.is-visible {
    opacity: 1; }

.cd-headline.type .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top; }
  .cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
            animation: cd-pulse 1s infinite; }
  .cd-headline.type .cd-words-wrapper.selected {
    background-color: #aebcb9; }
    .cd-headline.type .cd-words-wrapper.selected b {
      color: #0d0d0d; }
    .cd-headline.type .cd-words-wrapper.selected::after {
      visibility: hidden; }

.cd-headline.type .cd-words-wrapper::after {
  background-color: #aebcb9;
  bottom: auto;
  content: '';
  height: 90%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px; }

.cd-headline.type b {
  visibility: hidden; }
  .cd-headline.type b.is-visible {
    visibility: visible; }

.cd-headline.type i {
  position: absolute;
  visibility: hidden; }
  .cd-headline.type i.in {
    position: relative;
    visibility: visible; }

@-webkit-keyframes cd-pulse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1); }
  40% {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0); } }

@keyframes cd-pulse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1); }
  40% {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0); } }

.be-description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 600px; }

.category {
  padding-top: 80px;
  text-align: center; }
  @media only screen and (max-width: 640px) {
    .category {
      padding-top: 65px; } }
  .category h3 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 60px;
    text-align: left;
    text-transform: uppercase; }
    @media only screen and (max-width: 640px) {
      .category h3 {
        font-size: 24px;
        padding: 0 20px; } }
  .category.motion {
    background-color: #000;
    color: #fff;
    padding-bottom: 100px; }
  .category .col-md-4.thumb {
    margin-bottom: 30px; }
  .category .video-thumb {
    background-color: #000;
    background-position: center center;
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%; }

.main-footer {
  color: #777;
  margin-top: 50px;
  padding-bottom: 20px; }
  .main-footer a {
    color: #777;
    padding-right: 15px; }

header {
  background-color: #fff;
  height: 100%;
  width: 100%; }
  header .header-content {
    height: 200px;
    position: relative;
    top: calc(50% - 120px); }
    @media only screen and (max-width: 640px) {
      header .header-content {
        height: 330px;
        top: calc(50% - 140px); } }
    header .header-content .portrait {
      border-radius: 50%;
      width: 200px; }
      @media only screen and (max-width: 640px) {
        header .header-content .portrait {
          width: 170px; } }
  header .text {
    display: inline-block;
    padding-left: 40px;
    text-align: left;
    vertical-align: middle; }
    @media only screen and (max-width: 640px) {
      header .text {
        padding: 0 20px;
        text-align: center;
        width: 100%; } }
    header .text h1 {
      font-size: 52px;
      margin: 0; }
      @media only screen and (max-width: 640px) {
        header .text h1 {
          font-size: 24px;
          margin-top: 50px;
          padding: 0 20px; } }
    header .text h2 {
      color: #777;
      line-height: 40px;
      margin-bottom: 20px;
      margin-top: 10px; }
    header .text i {
      font-style: normal;
      font-weight: 500; }
  header .buttons .btn-default {
    background-color: transparent;
    border-color: #ea4134;
    color: #ea4134;
    -webkit-transition: .2s all;
            transition: .2s all; }
  header .buttons .btn-default:hover {
    background-color: #ea4134;
    color: #fff; }
  header .arrow {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: upAndDown;
            animation-name: upAndDown;
    bottom: 20px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 100%; }
    header .arrow p {
      color: #777; }

@-webkit-keyframes upAndDown {
  0% {
    bottom: 20px; }
  50% {
    bottom: 10px; }
  100% {
    bottom: 20px; } }

@keyframes upAndDown {
  0% {
    bottom: 20px; }
  50% {
    bottom: 10px; }
  100% {
    bottom: 20px; } }

.logo {
  cursor: pointer;
  height: 40px;
  margin: 30px;
  position: fixed;
  width: 40px;
  z-index: 10; }
  @media only screen and (max-width: 640px) {
    .logo {
      left: 50%;
      margin-left: -20px;
      margin-top: 30px;
      position: absolute; } }

@media only screen and (max-width: 640px) {
  .project,
  .about {
    padding-top: 80px; } }

.project a,
.about a {
  color: #777; }

.project .btn-default,
.about .btn-default {
  background-color: transparent;
  border-color: #ea4134;
  color: #ea4134;
  -webkit-transition: .2s all;
          transition: .2s all; }
  .project .btn-default:hover,
  .about .btn-default:hover {
    background-color: #ea4134;
    color: #fff; }

.project h1,
.about h1 {
  font-weight: bold;
  margin: 80px 0 50px; }

.project h4,
.about h4 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  margin-top: 23px; }
  .project h4 a,
  .about h4 a {
    color: #202020;
    text-decoration: none; }
  .project h4 a:hover,
  .about h4 a:hover {
    text-decoration: none; }

.project p,
.about p {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 40px; }
  .project p a,
  .about p a {
    color: #ea4134;
    font-weight: bold; }
  .project p a:hover,
  .about p a:hover {
    text-decoration: none; }
  .project p.links,
  .about p.links {
    font-family: 'Lato', sans-serif;
    font-weight: bold; }

.project .carousel-indicators,
.about .carousel-indicators {
  bottom: -50px; }
  .project .carousel-indicators .active,
  .about .carousel-indicators .active {
    background-color: #777; }
  .project .carousel-indicators li,
  .about .carousel-indicators li {
    border: 1px solid #777; }

.carousel-indicators {
  bottom: -20px; }
  .carousel-indicators .active {
    background-color: #000;
    margin: 1px 5px;
    width: 10px;
    height: 10px; }
  .carousel-indicators li {
    border: 1px solid #000;
    margin: 1px 5px; }
  @media screen and (min-width: 768px) {
    .carousel-indicators {
      bottom: -20px; } }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

.mobile-nav-toggle {
  width: 40px;
  position: fixed;
  top: 10px;
  left: 15px;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 640px) {
    .mobile-nav-toggle {
      display: block; } }
  .mobile-nav-toggle .bar {
    -webkit-transition: .2s all;
            transition: .2s all;
    display: block;
    background-color: #777;
    width: 100%;
    height: 5px;
    margin: 7px 0; }
    .mobile-nav-toggle .bar.white {
      background-color: white; }

#mobile-nav .menu {
  list-style-type: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 40px 20px; }
  #mobile-nav .menu li {
    line-height: 20px;
    padding: 10px 0;
    font-size: 18px; }
    #mobile-nav .menu li.cat {
      text-transform: uppercase; }
    #mobile-nav .menu li.devider {
      border-top: 1px solid white;
      padding: 0;
      margin: 20px; }
  #mobile-nav .menu a {
    color: white; }
    #mobile-nav .menu a:active, #mobile-nav .menu a:hover, #mobile-nav .menu a:focus {
      text-decoration: none; }

nav {
  display: none;
  width: 100%;
  height: 70px;
  padding: 15px 0;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 1; }
  @media only screen and (max-width: 960px) {
    nav {
      display: none !important; } }
  nav .logo {
    width: 40px;
    float: left; }
    nav .logo img {
      width: 100%; }
  nav .menu {
    list-style-type: none;
    margin-left: 80px;
    padding: 0; }
    nav .menu li {
      cursor: pointer;
      display: inline-block;
      height: 32px;
      line-height: 40px;
      font-size: 14px;
      text-transform: uppercase;
      margin-right: 30px;
      letter-spacing: 1px;
      -webkit-transition: .2s all;
              transition: .2s all;
      border-bottom: none; }
      @media only screen and (max-width: 1280px) {
        nav .menu li {
          margin-right: 28px;
          font-size: 12px; } }
      nav .menu li:last-child {
        padding-right: 0; }
      nav .menu li:hover {
        color: #eae170;
        border-bottom: 1px solid #eae170; }
        nav .menu li:hover a {
          color: #eae170; }
      nav .menu li a {
        color: black; }
        nav .menu li a:hover {
          color: #eae170;
          text-decoration: none; }

.overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2; }
  .overlay .popup-content {
    background-color: white;
    position: relative;
    top: calc(50% - 300px);
    margin: 0 auto;
    width: 550px;
    height: 600px;
    padding: 50px 40px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 640px) {
      .overlay .popup-content {
        width: 90%;
        top: calc(50% - 220px);
        height: 430px;
        padding: 30px; } }
    .overlay .popup-content h5 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 22px;
      margin-top: 50px; }
      .overlay .popup-content h5.no-top-margin {
        margin-top: 0; }
      @media only screen and (max-width: 640px) {
        .overlay .popup-content h5 {
          margin-top: 20px; } }
    .overlay .popup-content p {
      font-family: Georgia, serif;
      font-style: italic;
      color: #777;
      line-height: 24px; }
      .overlay .popup-content p a {
        color: #eae170; }
    .overlay .popup-content .logo {
      width: 120px; }
      @media only screen and (max-width: 640px) {
        .overlay .popup-content .logo {
          width: 80px; } }
    .overlay .popup-content .close-icon {
      color: #CCC;
      -webkit-transition: 0.2s all;
              transition: 0.2s all;
      position: absolute;
      top: 0;
      right: 30px;
      font-size: 54px;
      line-height: 64px;
      cursor: pointer; }
      .overlay .popup-content .close-icon:hover {
        color: #777; }
      @media only screen and (max-width: 640px) {
        .overlay .popup-content .close-icon {
          right: 20px;
          line-height: 60px; } }

.view {
  width: 100%;
  height: 250px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center; }
  .view:hover .mask {
    opacity: 1; }
  .view:hover h4 {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px); }
  .view .mask, .view .content {
    width: 100%;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }
  .view .mask {
    display: block;
    text-decoration: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
  .view img {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
    width: 100%; }
  .view h4 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 18px;
    padding: 10px 20px;
    margin: 100px 0 0 0;
    text-transform: none;
    letter-spacing: 1px;
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }

/*# sourceMappingURL=app.css.map */